<section class="section dashboard">
  <div class="row">
    <h5>
      Payments
      <a class="btn btn-primary btn-sm">Create New Payment</a>
    </h5>

    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-borderless datatable">
            <thead>
              <tr>
                <th>Payment ID</th>
                <th>Customer ID</th>
                <th>Customer Name</th>
                <th>Amount</th>
                <th>Tax</th>
                <th>Mode</th>
                <th>Date</th>
                <th>Notes</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
