<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      Loan (({{loan.loanName}}))
      <a routerLink="/loans" class="btn btn-primary btn-sm float-end"> 
        <i class="bi bi-eye-fill"></i> View All Loans
      </a>

      <table class="table-borderless table" cellpadding="10">
        <tr>
          <th>ID</th>
          <td>{{loan._id}}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{loan.loanName}}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td>{{loan.loanType}}</td>
        </tr>
        <tr>
          <th>Amount</th>
          <td>&#8358;{{number_format(loan.loanAmount)}}</td>
        </tr>
        <tr>
          <th>Pending Amount</th>
          <td>&#8358;{{number_format(getPendingAmount(loan.pendingAmount, loan.loanAmount, loan.loanStatus))}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{getLoanStatus(loan.loanStatus)}}</td>
        </tr>
      </table>
    </h5>
  </div>
</div>