<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      Customer Info
      <a routerLink="/customers" class="btn btn-primary btn-sm float-end">
        <i class="bi bi-arrow-90deg-left"></i> Back
      </a>
    </h5>

    <table class="table" [cellPadding]="20">
      <tr>
        <th>Customer Id</th>
        <td>{{customer._id}}</td>
      </tr>
      <tr>
        <th>First Name</th>
        <td>{{customer.firstName}}</td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td>{{customer.lastName}}</td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <td>{{customer.phoneNumber}}</td>
      </tr>
      <tr>
        <th>Email Addres</th>
        <td>{{customer.emailAddress}}</td>
      </tr>
      <tr>
        <th>Department</th>
        <td>{{customer.department}}</td>
      </tr>
    </table>
  </div>
</div>