<section class="section dashboard">
  <div class="row">
    <h5>
      Loan Types
      <a class="btn btn-primary btn-sm">Create New Loan Type</a>
    </h5>

    <div class="card">
      <div class="card-body mt-5">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>Education Loan</th>
                <td width="30%">created on 12-2-2020</td>
              </tr>
              <tr>
                <th>Commercial Loan</th>
                <td>updated on 12-2-2020</td>
              </tr>
              <tr>
                <th>Personal Loan</th>
                <td>deleted on 12-2-2020</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
